*{
  font-family: 'Chakra Petch', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(42, 42, 49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100vw;
  margin: 0px auto;
  background-color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
}

.header-container > h3, .header-container > h1 {
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

.header-container:hover {
  background-color: rgb(87, 83, 83);
  border-radius: 5px;
}

.logo {
  height: 150px;
  width: auto;
}

.map-select-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin: 25px;
}

.map-select-img{
  width: 250px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  transition: width .5s;
}

.map-select-img:hover{
  width: 300px;
  height: auto;
  cursor: pointer;
}

.gamecube {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.main-image{
  width: 105%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-bar-img{
  height: 120px;
  width: auto;
}

.character-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.char-name{
  color: white;
}

.image-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-center{
  display: flex;
  justify-content: center;
  align-items: center;
}